*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 26.67vw;
}
body{
    height: 100%;
    padding: 0 .12rem;
}
.discover_content_list{

}
.discover_content{
    width: 3.51rem;
    height: 1.14rem;
    opacity: 1;
    background: rgba(255,255,255,1);
    box-shadow: 1px 1.732px 10px 0px rgba(186,186,186,0.33);
    border-radius: .05rem;
    display: flex;
    padding: .16rem 0 0 .12rem;
}
.discover_content_list:nth-child(1){
    margin-top: .1rem;
}
.discover_content_left_title{
    font-size: .18rem;
    color: #2B2B2B;
    font-weight: 700;
    /* margin: .16rem 0 0 .12rem; */
}
.discover_content_left_con{
    font-size:.12rem;
    color: #2B2B2B;
    opacity: .6;
    margin-top: .12rem;
    /* width: 2.17rem; */
}
.discover_content_left_date{
    display: flex;
}
.discover_content_left_date i{
    font-size: .1rem;
    color: #F6A802;
    margin: .135rem .035rem 0 0;
}
.discover_content_left_date span{
    font-size: .09rem;
    color: #2B2B2B;
    margin-top: .12rem;
    opacity: .6;
}
.discover_content_right{
    display: flex;
}
.discover_content_right img{
    width: .965rem;
    height: .885rem;
    margin: 0 .13rem 0 .15rem;
}