	/*登陆模块*/
.LBox{
    width: 100%;
    /*height: 2.72rem;*/
    border-bottom-right-radius: .05rem;
    border-bottom-left-radius: .05rem;
    background: #ffffff;
    padding: .28rem .18rem 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.LBox1{
	width: 3.14rem;
	height: .44rem;
    display: flex;
    margin-bottom: .28rem;
    background: #f8f8f8;
    height: .4rem;
    -webkit-border-radius: .2rem;
    -moz-border-radius: .2rem;
    border-radius: .2rem;
    padding: 0 .16rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-left: .2rem;
}
.LBox11{
    width: 3.16rem;
}
.passwordBox{
    margin-bottom: .35rem;
}
.LBox1 i{
    font-size:.18rem ;
    color: #cfcfcf;
    margin-right: .12rem;
    line-height:.4rem ;
}
.LBox1 input{
    font-size:.16rem ;
    color: #cfcfcf;
    outline: none;
    border: none;
    background:transparent ;
}

/*登陆按钮*/
.loginButton{
    width: 3.14rem;
    height:.44rem ;
    font-size: .18rem;
    background: #e3e3e3;
    color: #8f8f8f;
    line-height:.45rem ;
    text-align: center;
    -webkit-border-radius: .25rem;
    -moz-border-radius: .25rem;
    border-radius: .25rem;
    border: 1px solid #dfdfdf;
    margin-left: .2rem;
}